# Postgres
DATABASE_URL=

# gRPC ports
FILE_SERVICE_PORT=
GATEWAY_PORT=

# RabbitMQ
RABBITMQ_URL=

# Redis
REDIS_URL=

# AWS
AWS_REGION=
S3_BUCKET=

# Microservice URLs
FILE_SERVICE_URL=
RENDER_SERVICE_PORT=
