# Postgres
DATABASE_URL=postgres://memprint:memprint@localhost:5432/memprint?sslmode=disable

# gRPC
FILE_SERVICE_PORT=50051
FILE_SERVICE_URL=localhost:50051

# Gateway
GATEWAY_PORT=8080

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# Redis
REDIS_URL=redis://localhost:6379

# AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=

# Resend
RESEND_API_KEY=
RESEND_FROM=
RESEND_TO=
